Repository ArkEcosystem/ruby-client, pull requests merged in 2019-09, with the labels that each got.

#49 feat: crypto endpoint
  lib/arkecosystem/client/api/node.rb
  spec/client/api/node_spec.rb
  spec/spec_helper.rb
Labels: Bounty: Tier 4, Complexity: Low, Status: Contributor Approved, Type: Feature

#52 feat: add missing api endpoints
  lib/arkecosystem/client/api/rounds.rb
  lib/arkecosystem/client/api/transactions.rb
  lib/arkecosystem/client/connection.rb
  spec/client/api/blocks_spec.rb
  spec/client/api/rounds_spec.rb
  spec/client/api/transactions_spec.rb
  spec/spec_helper.rb
Labels: Complexity: Low, Status: Contributor Approved, Type: Feature

#54 ci: adjust job triggers
  .github/workflows/test.yml
Labels: Complexity: Low

#55 ci: report coverage to codecov
  .github/workflows/test.yml
  arkecosystem-client.gemspec
Labels: Complexity: Low
